# Virtual envs
.venv/
venv/

# IDE configs
.idea/
idea/

# Python cache
__pycache__/
*.pyc

.case_demo/
case_demo/*

# build metadata
*.egg-info/

# node modules
*node_modules/
.node_modules/
*vite/
.vite/
#webpages
node_modules
dist
.vite
.DS_Store
